<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deno Login/Register</title>

    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css"
          integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <style>
        body {
            padding: 50px;
        }
    </style>
</head>
<body>

<div class="container" style="max-width: 30rem">
    <h1>Welcome! <%= user && user.name %></h1>
    <% if (!user) { %>

        <a href="/login" class="btn btn-primary">Login</a>
        or
        <a href="/register" class="btn btn-success">Register</a>
    <% } else { %>
        <p>
            <a href="/protected">Click here</a> to see protected page
        </p>
        <a href="/logout" class="btn btn-secondary">Logout</a>

    <% } %>
</div>

</body>
</html>